.modal-container.error-modal
  .modal-window
    %button.button.close{'data-behavior' => 'close-modal'}
      %i.icomoon-x{'aria-hidden' => 'true'}
      %span.offscreen Close Error Message
    .error-content
